data/dctl-project/_common/dtd/dctl.core.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- -->
<!-- dCTL DTDs : version 2.12 - 2008/03/30 -->
<!-- visit http://www.ctl.sns.it/ for more information -->
<!-- -->
 
<!-- DECLARE DCTL ENTITITES -->

<!ENTITY % dctl-base "dctl" >
<!ENTITY % dctl-prefix "%dctl-base;:" >

<!ENTITY % dctl-studio "%dctl-prefix;studio" >

<!ENTITY % dctl-desc "%dctl-prefix;desc" >
<!ENTITY % dctl-transcription "%dctl-prefix;transcription" >
<!ENTITY % dctl-inscription "%dctl-prefix;inscription" >
<!ENTITY % dctl-meaning "%dctl-prefix;meaning" >
<!ENTITY % dctl-typology "%dctl-prefix;typology" >
<!ENTITY % dctl-technique "%dctl-prefix;technique" >
<!ENTITY % dctl-material "%dctl-prefix;material" >
<!ENTITY % dctl-measure "%dctl-prefix;measure" >
<!ENTITY % dctl-position "%dctl-prefix;position" >
<!ENTITY % dctl-frame "%dctl-prefix;frame" >
<!ENTITY % dctl-support "%dctl-prefix;support" >
<!ENTITY % dctl-extra "%dctl-prefix;extra" >
<!ENTITY % dctl-sequence "%dctl-prefix;sequence" >
<!ENTITY % dctl-pattern "%dctl-prefix;pattern" >
<!ENTITY % dctl-matrix "%dctl-prefix;matrix" >
<!ENTITY % dctl-ornament "%dctl-prefix;ornament" >
<!ENTITY % dctl-setting "%dctl-prefix;setting" >
<!ENTITY % dctl-topic "%dctl-prefix;topic" >
<!ENTITY % dctl-source "%dctl-prefix;source" >
<!ENTITY % dctl-reuseList "%dctl-prefix;reuseList" >
<!ENTITY % dctl-reuse "%dctl-prefix;reuse" >
<!ENTITY % dctl-list "%dctl-prefix;list" >
<!ENTITY % dctl-item "%dctl-prefix;item" >
<!ENTITY % dctl-owner "%dctl-prefix;owner" >

<!-- [TODO] DOVREBBE SPARIRE! -->
<!ENTITY % dctl-character "%dctl-prefix;character" >

<!ENTITY % dctl-att.global.attribute.xmlns.ns "CDATA #FIXED 'http://www.ctl.sns.it/ns/1.0'" >
<!ENTITY % dctl-att.global.attribute.xmlns.dctl "xmlns:dctl %dctl-att.global.attribute.xmlns.ns;" >
<!ENTITY % dctl-att.global.attribute.xmlns "xmlns %dctl-att.global.attribute.xmlns.ns;" >
<!ENTITY % dctl-att.global.attribute.version "version CDATA '1.0'" >

<!ENTITY % dctl-resp.role "inventor | engraver | framer | portraitist">
<!ENTITY % dctl-typology.type "painting | sculpture | object | drawing | print | frame | engraving |
illumination" >
<!ENTITY % dctl-typology.subtype "small_bronze | shield | helmet | horn | armour | armory | coffer | tapestry | plate | roundel | jug | vase | jar | cup | basin | inkstand | flask | cover | mural | picture" >
<!ENTITY % dctl-pattern.type "perspective">
<!ENTITY % dctl-technique.type "fusion | oil | tempera | fresco | mural_painting | etching | graver | dry_point | woodcut | repousse | gilded | embroidery | stucco | mosaic | black_chalk | red_chalk | pen  | silver_point | metal_point | pastel | watercolor | ink | majolica | pencil" >
<!ENTITY % dctl-material.type "parchment | canvas | panel | copper | paesina | paper | colored_paper | fabric | wood | silver | marble | terracotta | bronze | majolica | earthen_ware | porcelain" >
<!ENTITY % dctl-position.place "above | below | left | right | around">
<!ENTITY % dctl-extra.type "extratestual | paraphrase">
<!ENTITY % dctl-inscription.type "motto | subscriptio">
<!ENTITY % dctl-meaning.type "textual | original | context">
<!ENTITY % dctl-reuseList.type "preceding | following">
<!ENTITY % dctl-reuse.type "self | other">
<!ENTITY % dctl-item.type "textual | graphical">

<!ENTITY % model.graphicLike "graphic | formula | eg | %dctl-studio;"> 
<!ENTITY % att.global.analytic.attribute.ana 'ana IDREFS #IMPLIED'>

<!ATTLIST resp
 role (%dctl-resp.role;) #IMPLIED >

<!ATTLIST TEI
 xmlns:dctl CDATA #FIXED "http://www.ctl.sns.it/ns/1.0" >

<!-- TEI INCLUSION -->

<!ENTITY % teilite SYSTEM "teilite.dtd" >
%teilite;

<!-- DCTL DEFINITION #2 -->

<!ENTITY % dctl-macro.paraContent '%macro.paraContent;' >
<!ENTITY %  dctl-macro.item '(%dctl-desc; | %dctl-sequence; | %dctl-meaning; | %dctl-topic; | div)*' >
<!ENTITY %  dctl-macro.physical '(%dctl-typology; | %dctl-technique; | %dctl-material; | %dctl-measure; | %dctl-position; | %dctl-desc; | bibl | note)*' >

<!ELEMENT %dctl-studio; (
  %dctl-desc; |
  %dctl-typology; | 
  %dctl-technique; | 
  %dctl-material; | 
  %dctl-measure; |
  %dctl-position; |
  %dctl-frame; | 
  %dctl-ornament; | 
  %dctl-matrix; | 
  %dctl-support; |  
  %dctl-inscription; | 
  %dctl-transcription; |
  %dctl-setting; | 
  %dctl-character; | 
  %dctl-pattern; | 
  %dctl-extra; | 
  %dctl-topic; | 
  %dctl-meaning; | 
  %dctl-source; | 
  %dctl-reuseList; | 
  %dctl-list; |
  %dctl-owner;
 )* >
<!ATTLIST %dctl-studio;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!-- PER I RIUSI DEGLI ELEMENTI -->
<!ELEMENT %dctl-reuseList; (%dctl-reuse; | bibl)+ >
<!ATTLIST %dctl-reuseList;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-reuseList.type;) #REQUIRED
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-reuse; %macro.paraContent; >
<!ATTLIST %dctl-reuse;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
type (%dctl-reuse.type;) #REQUIRED
 >

<!--doc:(...) ... -->
<!-- PER LE CITAZIONI DELLE FONTI -->
<!ELEMENT %dctl-source; %macro.paraContent; >
<!ATTLIST %dctl-source;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-matrix; %dctl-macro.physical; >
<!ATTLIST %dctl-matrix;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-frame; %dctl-macro.physical; >
<!ATTLIST %dctl-frame;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-ornament; %dctl-macro.physical; >
<!ATTLIST %dctl-ornament;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
>
 
<!--doc:(...) ... -->
<!ELEMENT %dctl-support; %dctl-macro.physical; >
<!ATTLIST %dctl-support;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-list; (%dctl-item;)+ >
<!ATTLIST %dctl-list;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-item; (%dctl-macro.item; | %dctl-list;)* >
<!ATTLIST %dctl-item;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-item.type;) #IMPLIED 
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-topic; %dctl-macro.paraContent; >
<!ATTLIST %dctl-topic;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
  key CDATA #IMPLIED
  iconclass CDATA #IMPLIED
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-sequence; %dctl-macro.paraContent; >
<!ATTLIST %dctl-sequence;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-character; %dctl-macro.paraContent; >
<!ATTLIST %dctl-character;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-owner; %dctl-macro.paraContent; >
<!ATTLIST %dctl-owner;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-typology; %dctl-macro.paraContent; >
<!ATTLIST %dctl-typology;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-typology.type;) #REQUIRED
 subtype (%dctl-typology.subtype;) #IMPLIED
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-pattern; %dctl-macro.paraContent; >
<!ATTLIST %dctl-pattern;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-pattern.type;) #FIXED "perspective"
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-technique; %dctl-macro.paraContent; >
<!ATTLIST %dctl-technique;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-technique.type;) #REQUIRED
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-material; %dctl-macro.paraContent; >
<!ATTLIST %dctl-material;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-material.type;) #REQUIRED
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-measure; %dctl-macro.paraContent; >
<!ATTLIST %dctl-measure;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-position; %dctl-macro.paraContent; >
<!ATTLIST %dctl-position;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 place (%dctl-position.place;) "around"
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-desc; %dctl-macro.paraContent; >
<!ATTLIST %dctl-desc;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-transcription; %macro.paraContent; >
<!ATTLIST %dctl-transcription;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-inscription; %macro.paraContent; >
<!ATTLIST %dctl-inscription;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-inscription.type;) #IMPLIED
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-setting; %macro.paraContent; >
<!ATTLIST %dctl-setting;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.linking.attribute.corresp;
ana %data.pointers; #REQUIRED
>

<!--doc:(...) ... -->
<!ELEMENT %dctl-meaning; %macro.paraContent; >
<!ATTLIST %dctl-meaning;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-meaning.type;) #IMPLIED
 >

<!--doc:(...) ... -->
<!ELEMENT %dctl-extra; %macro.paraContent; >
<!ATTLIST %dctl-extra;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.analytic.attribute.ana;
 %att.global.linking.attribute.corresp;
 type (%dctl-extra.type;) #IMPLIED
 >
